.container-content {
    padding: 64px 80px;
}

.bgc-grey {
    background-color: #F5F4F4 !important;
}

.btn {
    color: var(--default-color);
    background: #fff;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 28px 12px 28px;
    border-radius: 50px;
    transition: 0.5s;
}

.hero-page {
    background-color: #F5F4F4;
}

.hero-page .container-content {
    padding: 148px 80px 88px;
    background-color: #F5F4F4;
}

.hero-box {
    display: flex;
    justify-content: space-between;
}

.hero-box .hero-title {
    max-width: 585px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.hero-box .hero-title .btn {
    height: 40px;
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0325B6;
    border-color: #0325B6;
    background-color: #fff;
}

.hero-box .hero-img {
    max-width: 632px;
    min-width: 400px;
    border-radius: 18px;
    overflow: hidden;
}

.hero-box .hero-img>img {
    width: 100%;
}

.introduce,
.introduce .container-content {
    background-color: #F5F4F4;
}

.introduce .container-content .row {
    padding: 0;
    margin: 0;
    gap: 16px;
}

.introduce .container-content .row>* {
    padding: 0;
    margin: 0;
}

.introduce .container-content .row>div {
    flex: 1;
    padding: 0;
    margin: 0;
}

.introduce .container-content .row img {
    width: 100%;
}

.classification .class-item {
    padding: 64px 0;
    display: flex;
}

.item-capiton {
    width: 400px;
    font-size: 49px;
    color: rgba(0, 6, 38, 0.90);
    font-family: "Poppins";
}

.item-content {
    flex: 1;
    display: flex;
    gap: 16px;
}

.item-content>div {
    flex: 1;
    padding: 24px;
    border-radius: 16px;
    /* height: 188px; */
    background-color: #fff;
}

.problem .container-content,
.title-btn .container-content {
    background-color: #F5F4F4;
}

.problem .problem-item {
    border-radius: 16px;
    padding: 16px 24px;
    margin-bottom: 16px;
    background-color: #fff;
}

.problem .problem-item:last-child {
    margin-bottom: 0;
}



.title-btn .title-info {
    max-width: 700px;
    font-size: 49px;
    line-height: 100%;
    color: rgba(0, 6, 38, 0.90);
    margin-bottom: 12px;
}

.title-btn .title-desc {
    font-size: 20px;
    max-width: 700px;
    color: rgba(0, 9, 51, 0.65);
    margin-bottom: 24px;
}

.title-btn .btn {
    color: #fff;
    height: 40px;
    line-height: 40px;
    background-color: #0325B6;
    padding-top: 0;
    padding-bottom: 0;
}

.moudle,
.moudle .container-content {
    background-color: #191E3B;
}

.moudle .container-content .title {
    color: #fff;
    max-width: 800px;
    font-size: 49px;
    line-height: 100%;
    margin-bottom: 40px;
}

.moudle .container-content .d-flex {
    flex-wrap: wrap;
    gap: 16px;
}

.moudle .container-content .d-flex .moudle-item {
    position: relative;
    flex: 1;
    background-color: #202541;
    height: 300px;
    padding: 24px;
    border-radius: 16px;
}

.moudle .container-content .d-flex .moudle-item .arrow-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}




.moudle .container-content .d-flex {
    gap: 16px;
}

.moudle .container-content .d-flex .moudle-item {
    position: relative;
    flex: 1;
    background-color: #202541;
    height: 300px;
    padding: 24px;
    border-radius: 16px;
}


.introduce .title {
    max-width: 890px;
    font-size: 49px;
    line-height: 100%;
    color: rgba(0, 6, 38, 0.90);
    margin-bottom: 40px;
}

.introduce .container-content {
    background-color: #F5F4F4;
}

.introduce .container-content .d-flex {
    margin: 0 -8px;
    flex-wrap: wrap;
}

.introduce .container-content .info-card {
    width: calc(50% - 16px);
    margin: 0 8px 32px;
    padding: 0;
}

.introduce .container-content img {
    border-radius: 16px;
    width: 100%;
}


@media (max-width: 768px) {
    .container {
        max-width: 100% !important;
    }


    .container-center,
    .container-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .introduce .container-content .row {
        display: block !important;
    }

    .info-card {
        margin-bottom: 32px !important;
    }

    .item-capiton {
        margin-bottom: 24px;
    }

    .item-content {
        display: block;
    }

    .item-content>div {
        margin-bottom: 10px;
    }

    .title-btn .btn,
    .hero-box .hero-title .btn {
        width: 100%;
    }

    .introduce .container-content .info-card {
        width: 100%;
    }

    .classification .item-content {
        display: block;
    }


}

@media (max-width: 1000px) {
    .hero-box {
        display: block !important;
    }

    .hero-title {
        margin-bottom: 10px;
    }

    .classification .class-item {
        display: block;
    }
}

@media (max-width: 1200px) {
    .classification .container-center .class-item {
        display: block;
    }
}