.container-content {
    padding: 64px 80px;
}

.page-header .container-content {
    padding: 112px 160px 64px;
}

.search-input {
    display: flex;
    gap: 10px;
    position: relative;
}

.search-input>input {
    height: 40px;
    width: 500px;
    border-radius: 20px;
    padding-left: 50px;
    border: 1px solid #D4D8E9;
}


input:focus {
    outline: none;
    /* 去除默认的蓝色轮廓 */
    /* border: 1px solid transparent; */
    /* 设置为透明边框 */
}

.search-input .bi-search {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}



.pagination-2 li a {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: rgba(5, 26, 124, 0.90);
}

.pagination-2 li:first-child a {
    background-color: #F5F4F4;
}

.pagination-2 li:last-child a {
    background-color: #F5F4F4;
}


.pagination-2 li a.active,
.pagination-2 li a:hover {
    background: #fff !important;
    color: rgba(5, 26, 124, 0.90) !important;
    border: 1px solid #2EF1FF !important;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.menu-list .menu-list-left {
    width: 320px;
}

.menu-list .menu-list-right {
    width: 850px;
}

.menu-list .menu-list-item {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 16px;

}


.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.work-process .steps-item {
    height: unset;
}

@media (max-width: 768px) {
    .container {
        max-width: 100% !important;
    }

    .container-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media (max-width: 1420px) {
    .menu-list-left {
        display: none;
    }

    .menu-list .menu-list-left {
        width: 100%;
    }
}