.about {
    padding: 64px 0;
}

.about .container {
    background-color: #F5F4F4;
}

.hero h1 {
    line-height: 105%;
}

.col-lg-6 {
    flex: 0.3 0 auto;
}

.content-title {
    width: 720px;
    margin-bottom: 10px;
}

.container-center {
    padding: 0 80px;
}

.box-slide {
    margin-top: 40px;
    overflow: auto;
}

.container-center-box {
    display: flex;

}

.container-center-box p {
    line-height: 100%;
}

.container-center-box div {
    margin-right: 10px;
}

.container-center-box .box-item:last-child {
    margin-left: 0;
    /* background-color: #0325B6; */
    /* color: #fff; */
}

.container-center-box .box-item:last-child p {
    margin-top: 0px;
}

.content-card {
    border-radius: 16px;
    background-color: #fff;
    width: 632px;
    height: 545px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* margin-right: 40px; */
}

.number .row,
.about .row {
    margin: 0;
}

.content-card>img {
    width: 100%;
}

.content-card:last-child {
    margin-right: 0;
}

.content-card .card-content {
    padding: 0 24px;
}

.content-card .card-content p {
    font-size: 31px;
    font-weight: 500;
    line-height: 100%;
    margin: 10px 0 12px;
}


.content-card .card-content div {
    margin-bottom: 24px;
    font-size: 16px;
    color: rgba(0, 9, 51, 0.65);
}

.content-card .card-content span {
    font-size: 16px;
    color: #0325B6;
}

.box-item {
    height: 408px;
    width: 308px;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
}

.box-item .img {
    text-align: center;
    /* margin: 30px 0; */

}

.box-item p {
    font-size: 31px;
    font-weight: 500;
    color: rgba(0, 6, 38, 0.90);
    line-height: 100%;
}

.box-item div {
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 9, 51, 0.65);
    line-height: 120%;
}

.number .steps-item,
.Depoimentos .steps-item {
    width: 340px;
    padding: 10px;
    /* background-color: #F5F4F4; */
    border-radius: 0;
}

.Depoimentos .comment-box {
    /* width: 100%; */
    width: calc(33% - 16px);
    min-width: 342px;
}

.Depoimentos .comment-box .comment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 105px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    padding: 20px;
}

.Depoimentos .row {
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
}

.Depoimentos .row>* {
    padding: 0px;
}

.Depoimentos .comment-box .comment:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 36px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    transform: rotate(45deg)
}

.Depoimentos .comment-box .quotemark {
    display: flex;
    margin: 20px 0 0 30px;
}

.Depoimentos .comment-box .quotemark .quotemark-text {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-left: 15px;
}

.Depoimentos .comment-box .quotemark .quotemark-text .quotemark-text-fir {
    color: rgba(0, 9, 51, 0.65);
}

.Depoimentos .comment-box .quotemark .quotemark-text .quotemark-text-dec {
    color: rgba(0, 6, 38, 0.90);
}


.number .steps-item h1,
.Depoimentos .steps-item h1 {
    color: #0325B6;
    font-size: 120px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
}

.number .steps-item div,
.Depoimentos .steps-item div {
    font-size: 20px;
    line-height: 120%;
    color: rgba(0, 6, 38, 0.90);
}

.number .container .number-content,
.Depoimentos .container .number-content {
    justify-content: space-between;
    margin-top: 20px;
}

/* .number .container .number-content>div {
      max-width: 340px;
    } */

.information {
    background-color: #191E3B;
}

.information .container-center {
    padding: 64px 80px;
    background-color: #191E3B;
    margin: 0;
}

.information .information-img-card {
    border-radius: 16px;
    width: 630px;
    height: 848px;
    overflow: hidden;
    padding: 0;
    margin: 0 75px 0 0;
}

.information .information-text-card {
    width: 575px;
    height: 848px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    /* line-height: 100%; */
}

.information .information-text-card .text-card-top {
    color: #fff;
    font-weight: 900;
    font-size: 61px;
    line-height: 100%;
}

.information .information-text-card .text-card-bottom {
    font-weight: 900;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.60);
    margin: 20px 0;
}

.information .information-text-card .btn {
    color: #fff;
    background-color: #0325B6;
}

/* .conteudo {
      padding: 80px;
      height: 658px;
      background-color: #DDDEE8;
    } */
.conteudo {
    background-color: #DDDEE8;
}

.conteudo .container-center {
    padding: 80px;
    background-color: #DDDEE8;
    margin: 0;
}

.conteudo .row {
    justify-content: center;
}

.conteudo .conteudo-left {
    width: 632px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-right: 15px;
}

.conteudo .conteudo-right {
    padding: 0;
    width: 632px;

}

.conteudo .conteudo-right .btn {
    color: #fff;
    background-color: #0325B6;
    line-height: 37px;
}

.conteudo .conteudo-right .imgMode {
    width: 632px;
    border-radius: 16px;
    overflow: hidden;
}

.conteudo .conteudo-right .imgMode img {
    width: 100%;
}


.conteudo .conteudo-left .conteudo-left-item {
    width: 308px;
    height: 570px;
    margin-right: 15px;
}

.conteudo .conteudo-left .conteudo-left-item .imgMode {
    border-radius: 16px;
    width: 308px;
    height: 324px;
    overflow: hidden;
}

.conteudo .imgMode img {
    width: 100%;
}

.conteudo .titleMode {
    margin: 24px 0 12px;
    font-size: 31px;
    font-weight: 500;
}

.conteudo .infoMode {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 30px;
}

.conteudo .linkMode {
    font-size: 16px;
    color: #0325B6;
    cursor: pointer;
}

.newsletter .inputs {
    max-width: 1280px;
    /* height: 142px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
}

.newsletter .inputs>div .select-input {
    width: 548px !important;
}

.newsletter .inputs>div>input {
    height: 40px;
    width: 548px;
    border-radius: 8px;
    border: 1px solid #C6CBE1;
    padding: 0 16px;
}

.newsletter .inputs>input:focus {
    outline: none;
}

.newsletter .card-products {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 16px;
}

.newsletter .card-products .card-product {
    width: 240px;
    height: 370px;
    /* margin-right: 10px; */
}

.newsletter .card-products .card-product:last-child {
    margin-right: 0;
}

.newsletter .card-products .card-product .img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-width: 20%;
    /* width: 244px; */
    height: 158px;
    border-radius: 16px;
    overflow: hidden;
}

/* .newsletter .card-products .card-product .img img {
    width: 100%;
} */

.newsletter .card-products .card-product .card-product-title {
    margin: 10px 0 16px;
    font-size: 31px;
    font-weight: 500;
    color: rgba(0, 6, 38, 0.90);
    font-family: 'Poppins';
}

.info_text {
    font-size: 16px;
    color: rgba(0, 9, 51, 0.65);
}

.platform-icon img {
    height: 32px;
}

.btn {
    color: var(--default-color);
    background: #fff;
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    /* padding: 10px 28px 12px 28px; */
    border-radius: 50px;
    transition: 0.5s;
}

.subject {
    font-size: 49px;
    color: rgba(0, 6, 38, 0.90);
    line-height: 100%;
    margin-bottom: 12px;
}

.whatsApp {
    padding: 0;
    position: fixed;
    bottom: 80px;
    right: 14px;
    background-color: #25D366;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: width 0.3s ease;
}

.whatsApp .whatsApp-text {
    height: 100%;       
    width: 150px;
    padding: 10px 0px 0 15px;

    color: #fff;
    font-size: 12px;
    line-height: 120%;

    display: none;
    transition: display 0.2s ease 0.1s;
}

.whatsApp>img {
    width: 48px;
    float: right;
}

.whatsApp:hover {
    width: 200px;
    /* transform: ; */
}

.whatsApp:hover .whatsApp-text {
    display: inline-block
}

.Toast-de-cookies {
    position: fixed;
    bottom: 150px;
    right: 14px;
    width: 360px;
    background-color: #2EF1FF;
    border-radius: 16px;
    padding: 16px;
    z-index: 1000;
}

.Toast-de-cookies .btn {
    width: 100%;
}

.Toast-de-cookies .btn:hover {
    color: #fff;
}

.hero {
    overflow: unset !important;
    position: relative;
}

.hero .container {
    position: absolute;
    left: 50%;
    bottom: 188px;
    transform: translateX(-50%);
}

@media (max-width: 1439px) {
    .container-xl {
        max-width: 100%;
    }

    .container-center {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /* .content-title {
        width: 100%;
    } */

    .hero {
        padding: 72px 0 60px;
    }

    .dark-background {
        background-position: top;
        background-size: unset;
    }
}

@media (max-width: 1380px) {

    .hero p,
    .hero .col-lg-6,
    .hero h1 {
        width: 100%;
    }

    .hero .container {
        bottom: 88px;
    }
}

@media (max-width: 968px) {
    .hero h1 {
        width: 100%;
    }

    .hero p {
        width: 100%;
    }

    .hero .container {
        bottom: 88px;
    }
}

@media (max-width: 768px) {

    .container,
    .container-xl {
        max-width: 100%;
    }

    .container-center {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .content-title {
        max-width: 100%;
    }

    .hero {
        padding: 72px 0 60px;
    }

    .dark-background {
        background-position: top;
        background-size: unset;
    }

    .hero h1 {
        text-align: left;
        margin-left: 0px;
        font-size: 49px;
        font-weight: 900;
        line-height: 100%;
    }

    .hero p {
        color: #fff;
        margin: 5px 0 30px 0px;
        font-size: 20px;
        line-height: 120%;
        font-weight: 400;
    }

    .hero .d-flex {
        flex-wrap: wrap;
    }

    .hero .btn-get-started-left {
        width: 100%;
        margin-left: 0px;
        color: var(--default-color);
        background: #fff;
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 12px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 12px;
    }

    .hero .row {
        padding: 0 12px;
    }

    .hero .btn-get-started-right {
        width: 100%;
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 12px 28px;
        border-radius: 50px;
        border: 1px solid #fff;
        transition: 0.5s;
    }

    .about .gy-4 {
        padding: 0 12px;
    }

    .content-card {
        margin-bottom: 12px !important;
    }


    .number .container .number-content {
        padding: 0 16px;
        justify-content: center;
    }

    .number .steps-item {
        width: 100% !important;
    }

    .information .information-img-card {
        width: 100% !important;
        margin: 0 !important;
    }

    .information .information-img-card img {
        width: 100%;
    }

    .information-text-card:last-child {
        height: unset !important;
        margin-top: 80px !important;
        padding-bottom: 60px !important;

    }

    .information-text-card .btn,
    .information .information-text-card {
        width: 100% !important;
    }

    .conteudo .conteudo-left {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        padding: 0;
        margin-right: 0 !important;
    }

    .inputs div input,
    .conteudo .conteudo-right,
    .conteudo .conteudo-right .imgMode,
    .conteudo .conteudo-right .btn,
    .conteudo .conteudo-left .conteudo-left-item,
    .conteudo .conteudo-left .conteudo-left-item .imgMode,
    .newsletter .card-products .card-product,
    .newsletter .card-products .card-product .img,
    .number .comment-box,
    .number .comment-box .comment {
        width: 100% !important;
    }

    .footer-inputs div,
    .inputs>div {
        width: 100%;
        /* margin-bottom: 10px; */
    }

    .footer-top .footer-inputs .footer-btn {
        display: block;
    }

    .footer-bottom .container-center .cooperate {
        text-align: left !important;
        margin-top: 20px;
    }

    .footer-bottom .container-center .statement {
        font-size: 39px;
        color: #fff;
        line-height: 100%;
        font-weight: 900;
    }

    .footer-bottom .container-center .cooperate .footer-logos img {
        margin: 0 10px 0 0 !important;
    }

    .footer-bottom .container-center .cooperate .company-info {
        display: flex;
        /* justify-content: end; */
        /* flex-wrap: wrap; */
        /* flex-flow: row-reverse; */
        /* flex-direction: column; */
        flex-direction: column-reverse;
        place-items: flex-start;
    }

    .footer-logo {
        margin: 0 0 20px 0 !important;
    }

}

.select-input {
    padding: 0;
    height: 40px;
    display: flex;
    /* width: 548px !important; */
    /* overflow: hidden; */
}

.select-input>select {
    padding: 0 10px;
    width: 100px;
    border: 0;
    outline: none;
    border-right: 1px solid #8992BE;
}

.select-input>input {
    border-radius: 16px;
    flex: 1;
    border: 0;
    outline: none;
    outline: none;
}

.select-input>input:focus {
    border: unset !important;
}

.input {
    width: 100%;
    height: 40px;
    /* padding: 0 16px; */
    border-radius: 8px;
    border: 1px solid #C6CBE1;
    /* margin-bottom: 24px; */
}